<div
    class="container"
    fxLayout="row"
    fxLayoutAlign="center center">
    <mat-card>
        <form fxLayout="column" [formGroup]="signupForm" validate-signin>
            <h2>Signin</h2>
            <mat-form-field fxFlex="100">
                <input matInput placeholder="email" formControlName="email">
                <mat-error *ngIf="signupForm.get('email').hasError('required')">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="signupForm.get('email').hasError('email')">
                    Email is invalid.
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="signupForm.get('password').hasError('minlength')">
                    Password is invalid. <small>(min 6 chars)</small>
                </mat-error>
            </mat-form-field>
            <button
                mat-raised-button
                fxFlexOffset="20px"
                type="button"
                color="primary"
                (click)="submit()">
                signout
        </button>
        <p><small><a routerLink="/auth/signup">signup</a></small></p>
    </form>
</mat-card>
