<mat-toolbar fxFlex="100" fxLayout="row" color="primary">
    <div fxFlex="20">
        <small (click)="drawer.toggle()">{{ user?.name }}</small>
    </div>
    <div fxFlex="90"></div>
    <div fxFlex="5">
        <ngx-avatar
            [gravatarId]="user?.gravatar"
            [matMenuTriggerFor]="menu">
        </ngx-avatar>
    </div>
    <div fxFlex="5">
        <i class="material-icons" [matMenuTriggerFor]="menu">exit_to_app</i>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
    </div>
</mat-toolbar>

<mat-sidenav-container class="mat-app-background">
    <mat-sidenav
        #drawer
        mode="side"
        opened>
        <mat-list role="list">
            <mat-list-item role="listitem" routerLink="/dashboard/page-one">Item 1</mat-list-item>
            <mat-list-item role="listitem" routerLink="/dashboard/page-two">Item 2</mat-list-item>
            <mat-list-item role="listitem" routerLink="/dashboard/page-three">Item 3</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="mat-app-background">
        <h1>Dashboard</h1>
        <main [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
            <router-outlet name="secondary"></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
